#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Name=Glade Interface Designer
GenericName=User Interface Designer
Comment=Create or open user interface designs for GTK+ applications
Exec=glade-3 %F
Terminal=false
StartupNotify=true
Type=Application
Icon=glade-3
Categories=GNOME;GTK;Development;GUIDesigner;
MimeType=application/x-glade;
X-GNOME-DocPath=glade/glade.xml
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=glade3
X-GNOME-Bugzilla-Version=3.6.7
X-GNOME-Bugzilla-Component=general
X-Ubuntu-Gettext-Domain=glade3
Name[es_PE]=Glade
